@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  box-sizing: border-box;

}

:root{
 --light: #ccc;
}

body{
  font-family: 'Quicksand', sans-serif;
  background-color: #333;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
  overflow: hidden; 
}
.container{
  margin:auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
a{
  color: var(--light);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

nav{
  display: flex;
  flex-direction: column;
  width : 100px;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
margin-bottom: 2vh;

}
ul{
  list-style-type: none;
  
  
}
li{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vh;

}
i{
  font-size: 5vh;
}

#projects-content{
  display: flex;
  flex-direction: column;
 justify-content: left;
}
#projects-content li{
  color: rgb(255, 202, 40);
}


.hidden{
  display:none;
}
.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: #d5ccba;
  }
}
.wb-body {
    /* the width of window border: */
    margin: 4px;
    color: #d5ccba;
    background: #20111b;
    font-size: medium;
}
.wb-body::-webkit-scrollbar {
  width: 5px;
}
.wb-body::-webkit-scrollbar-track {
  background: transparent;
}
.wb-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #263040;
}
.wb-body::-webkit-scrollbar-thumb:window-inactive {
  background: #181f2a;
}
.wb-body::-webkit-scrollbar-corner {
  background: transparent;
}